.plm-description {
   padding: 80px 20px;
  display: flex;
  justify-content: center;

  &__card {
    color: #ffff;
    background: #1c4584;
    border-radius: 20px;
    padding: 40px;
    max-width: 1100px;
    text-align: center;
    line-height: 1.8;
    font-size: 16px;
  }
}
.plm-team {
  padding: 100px 20px;
  

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-size: 34px;
    font-weight: 700;
    color: #1c4584;
    margin-bottom: 50px;
  }

  &__image {
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
