/* ================= ACCELERATOR INTRO ================= */

.accelerator-intro {
  padding: 120px 0;
  background: #f8f9fb;

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
  }

  h2 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #111;
  }

  p {
    font-size: 18px;
    line-height: 1.9;
    color: #555;
    margin-bottom: 22px;

    strong {
      color: #1c4584;
    }
  }
}
/* ================= RESPONSIVE ================= */

@media (max-width: 1200px) {

  .accelerator-intro h2 {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
 

  .accelerator-intro {
    padding: 90px 0;
  }

  .accelerator-intro h2 {
    font-size: 34px;
  }
}

@media (max-width: 576px) {
 
  .accelerator-intro {
    padding: 70px 0;
  }

  .accelerator-intro h2 {
    font-size: 26px;
  }

  .accelerator-intro p {
    font-size: 16px;
  }
}