@import "tailwindcss";

@font-face {
  font-family: "OutfitRegular";
  src: url("/fonts/outfit/Outfit-Regular.woff2") format("woff2"),
       url("/fonts/outfit/Outfit-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OutfitMedium";
  src: url("/fonts/outfit/Outfit-Medium.woff2") format("woff2"),
       url("/fonts/outfit/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OutfitSemiBold";
  src: url("/fonts/outfit/Outfit-SemiBold.woff2") format("woff2"),
       url("/fonts/outfit/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OutfitBold";
  src: url("/fonts/outfit/Outfit-Bold.woff2") format("woff2"),
       url("/fonts/outfit/Outfit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
:root {
  --brand-primary: #1c4584;    
  --brand-accent: #17ace4; 
  --brand-muted: #6b7280;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family: "OutfitRegular", sans-serif;

}

.container {
  max-width: 1300px;   
  margin: 0 auto;
  padding-inline: 1.5rem;
}


.liquid-bg {
  position: absolute;
  inset: -20%;
  background: linear-gradient(
    120deg,
    #1c4584,
    #17ace4,
    #5172b0
  );
  background-size: 300% 300%;
  animation: liquidMove 12s ease infinite;
  filter: blur(80px);
  z-index: 0;
}

@keyframes liquidMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
