.post-wrapper {
//   background: #f7f9fc;
  padding: 80px 20px;
}

.post-container {
  max-width: 860px;
  margin: 0 auto;
  background: #ffffff;
  padding: 60px;
  border-radius: 20px;
//   box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
}

.post-hero {
  margin-bottom: 40px;
}

.post-hero img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.post-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 30px;
}

.post-content {
  font-size: 18px;
  line-height: 1.8;
  color: #444;
}

/* Typography hierarchy */

.post-content h2 {
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.post-content h3 {
  font-size: 22px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.post-content p {
  margin-bottom: 22px;
}

.post-content strong {
  font-weight: 600;
}

.post-content ul,
.post-content ol {
  margin: 25px 0;
  padding-left: 22px;
}

.post-content li {
  margin-bottom: 10px;
}

.post-content img {
  width: 100%;
  border-radius: 12px;
  margin: 40px 0;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .post-container {
    padding: 40px;
  }

  .post-title {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .post-wrapper {
    padding: 40px 15px;
  }

  .post-container {
    padding: 25px;
    border-radius: 14px;
  }

  .post-title {
    font-size: 26px;
  }

  .post-content {
    font-size: 16px;
  }
}

.related-section {
  max-width: 1100px;
  margin: 80px auto 40px;
  padding: 0 20px;
}

.related-section h2 {
  margin-bottom: 40px;
  font-size: 28px;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.related-card {
  display: block;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
  transition: 0.3s ease;
}

.related-card:hover {
  transform: translateY(-5px);
}

.related-card img {
  width: 100%;
  object-fit: cover;
}

.related-card h3 {
  padding: 20px;
  font-size: 18px;
}

.next-post {
  max-width: 860px;
  margin: 60px auto;
  padding: 30px;
  background: #f3f5f9;
  border-radius: 16px;
}

.next-post span {
  font-size: 14px;
  color: #777;
}

.next-post h3 {
  margin-top: 10px;
  font-size: 22px;
}